_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
.idea
.DS_Store
.obsidian/workspace
.obsidian/workspace.json
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins.json
.obsidian/hotkeys.json
