  .compacttoc ~ .section-nav > li > ul > li > ul {
    display:none;
  }
  .section-nav {
    float: right;
    clear: right;
    font-family: 'IBM Plex Sans', Inter, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 14px;
    margin-right: -45%;
    width: 40%;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative; 
    padding-bottom: 5px;
    position: sticky;
    top: 380px;
  }

.section-nav li {
    padding-left: 0.5em;
    text-indent:-0.5em;
    word-wrap: break-word;
    list-style: none;
    font-size: 15px
}
@media screen and (max-width: 815px){

  .box main ul.section-nav {
    display: none;
}
}

@media screen and (max-width: 815px){

  main ul.section-nav {
    margin-right: -34%;
    width: 29%;
}
}

@media screen and (max-width: 1150px) {
    main .section-nav::before {
    content: "Nav";
    word-wrap: break-word;
}
}

@media screen and (max-width: 920px) {

  ul.section-nav li {
    padding-left: 0.2em;
}

.section-nav ul {
    padding-left: 5px;
}
}


@media screen and (max-width: 1500px) {
 main .section-nav {
  margin-right:-23%;
  width:20%;
 }
}

@media screen and (max-width: 1674px) {
 .section-nav {
  margin-right:-32%;
  width:30%;
 }
}

.section-nav::before {
    content: "Contents";
    font-size: 2em;
    font-weight: bold;
    color: #555;
     top: -350px;
     position: relative;
}

.section-nav>  * {
     top: -350px;
     position: relative;
}
.section-nav,
.toc-entry a{
    color: #848C8E;
    text-decoration: none;
    line-height: 1.5;
}

.toc-entry.active > a{
    color: #555;
}

.section-nav ul {
        
}